.seerch {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.serchArr,
.serchBtn {
    width: 400px;
    border-radius: 5px;
}

.serchBtn {
    background-color: darkgreen;
    border: none;
}